body {
    margin: 0px;
    font-family: 'Poppins';
}

.banner {
    background-image: url('./images/banner/banner3.png');
    height: 110vh;

}

.header {
    display: flex;
    flex-direction: column;
    padding: 120px;
}

.bannerheader {
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
    color: white;
}

.bannerpara {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    color: #FFFFFF;
}

.btn {
    width: 130px;
    border: 0;
    border-radius: 5px;
    margin-left: 90%;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: right;
    color: #005FAC;
}

.info {
    margin: 100px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}

.info-para {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}

.points {
    margin-left: 20px;
}

.points span{
    color: #16D887;
}

.center {
    text-align: center;
}

.skilldiv {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-header {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

.skill-para {
    margin-top: -25px;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    color: #737272;
}

.bg {
    margin: 100px 100px;
    background-image: url(images/watch.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.call {
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%);
    color: white;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;


}

.btn2 {
    border: 0;
    border-radius: 5px;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: right;
    color: #005FAC;
    background-color: white;
}

.container {
    width: 400px;
    color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
}

#contact{
    padding: 20px;
}

#contact input{
    width: 90%;
    border-radius: 10px;
    border: 2px solid #005FAC;
    padding: 10px;
    margin-bottom: 5px;
}


.footer {
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-evenly;
    padding: 50px 0;
    width: 100%;
    margin-top: 100px;
}

.icon {
    margin-right: 5px;
}

.email {
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
}

.btn-primary {
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 12px;
    border: 0;
    background-color: #005FAC;
    color: white;
    text-transform: uppercase;
}