body {
    margin: 0px;
}

.banner {
    background-image: url('./images/banner/banner3.png');
    height: 110vh;

}

.header {
    display: flex;
    flex-direction: column;
    padding: 120px;
}

.bannerheader {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
    color: white;
}

.bannerpara {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    color: #FFFFFF;
}

.btn {
    width: 130px;
    margin-left: 90%;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: right;
    color: #005FAC;
}

.info {
    margin: 100px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info-text{
    margin-left: 50px;
}

.info-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}

.info-para {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}
.points{
margin-left: 20px;
}